/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.img1 {
  column-count: 1;
  display: block;
  border: 5px;

}

.shoe {
  display: block;
  column-count: 1;
  border: 5px;
  float: right;
}

.img2 {
  column-count: 3;
  column-span: all;
  column-gap: 40px;
  border: 5px;
  
}

.footer {column-count: 3;
  column-span: all;
  column-rule: 1px solid lightgrey;

}